<p style="color: green"><%= notice %></p>

<h1><%= @team.name %></h1>

<h2>Draft Picks</h2>
<ul class="left-aligned-list">
  <% @team.picks.order(:round, :number).each do |pick| %>
    <li>
      Round <%= pick.round %>, Pick <%= pick.number %>: Value <%= pick.value %>
    </li>
  <% end %>
</ul>

<h2>Trades</h2>
<ul class="left-aligned-list">
  <% @trades.each do |trade| %>
    <li>
      Trade with <%= trade.opponent_team(@team).name %>:
      <ul>
        <li>Starting Team Total Value: <%= trade.starting_team_total_value %></li>
        <li>Target Team Total Value: <%= trade.target_team_total_value %></li>
        <li>Winner: <%= trade.winner %></li>
      </ul>
    </li>
  <% end %>
</ul>

<div>
  <%= link_to "Back to teams", teams_path %>
</div>
