<div class="team-card">
  <h2 class="team-name"><%= "#{prefix} Team: #{team.name}" %></h2>
  <h2 class="draft-picks">Draft Picks</h2>
  <ul class="left-aligned-list">
    <% total_picks = team.picks.count %>
    <% total_pick_value = team.picks.sum(:value) %>
    <% team.picks.order(:round, :number).each do |pick| %>
      <li data-pick-id="<%= pick.id %>">
        Round <%= pick.round %>, Pick <%= pick.number %>, Value: <%= pick.value %>
        <span class="pick-id" data-pick-id="<%= pick.id %>" style="display: none;"><%= pick.id %></span>
        <%= button_tag "Trade", class: "trade-button", data: { action: "highlight" } %>
      </li>
    <% end %>
  </ul>
  <ul class="left-aligned-list" style="margin-bottom: 10px;">
    <li>
      Total Number of Picks: <%= total_picks %>
    </li>
    <li>
      Total Value of Picks: <%= total_pick_value %>
    </li>
  </ul>
  <p>
    <%= link_to "In-Depth Team View", team %>
  </p>
</div>
